# Gemini API Key (https://aistudio.google.com/app/apikey)
GOOGLE_API_KEY=

# Conexión SQL Server
DB_SERVER=192.168.1.101
DB_NAME=DonaldV2

# Autenticación SQL Server (dejar vacío para usar Windows Authentication)
DB_USER=sa
DB_PASSWORD=
